# Development environments
venv/
env/
.env

# PyInstaller & Build artifacts
build/
dist/
*.spec

# Application data & local databases
instance/
*.db
*.dat
*.key
uploads/

# Python caching
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# mpesa config 
config.json
*.db
biztool.log